
/*importing my palette from coolors stylesheet https://coolors.co/palette/4d90c5-222771-5ecb9c-5b2d6b-8a719e*/
@import url(/styles/cooolersweb.css);
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    
    
}
/*Setting the background image for the survey form page, spiderweb retrieved from Image by <a href="https://pixabay.com/users/jplenio-7645255/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3725540">Joe</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3725540">Pixabay</a>*/
#web-form {
    height: 100vh;
    width: 100%;
  
    background: linear-gradient(171deg, rgba(53, 3, 134, 0.677) 19%, 
        rgba(37,37,205,0.640515581232493) 49%, 
        rgba(0,212,255,0.7301514355742297) 100%), 
        url(/images/spiderweb.jpeg)
        no-repeat fixed top left;
    background-size: cover;
    overflow-x: hidden;
    
    
    
}
#contain-form{
    background: linear-gradient(135deg, rgba(45, 65, 134, 0.6) 40%, rgba(92, 45, 108, 0.5)),
    linear-gradient(310deg, rgba(45, 65, 134, 0.7) 20%, rgba(92, 45, 108, 0.6)) ;
    color:#dbe9ee;
    font-family: 'Mukta', sans-serif;
    max-width: 550px;
    margin: 1.5em;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
    border-radius: 65px;
    box-shadow: 0px 0px 8px rgba(138, 161, 234,.8);
    
}
h1, h2{
    text-align: center;
}
h2{
    margin: 0;
}
#description, #required-remark{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
/*for accessibility and usability add color and symbol to indicate required*/
#required-remark, 
#name-label, 
#email-label, 
#course-legend, 
#semester-label{
    color: #66E5A4;
}
/*defaults for fields and labels
fieldset{
    display: block;
    border: none;
}*/
label{
    padding-top: 0.5em;
    display: block;
}
/*alignment taken from user agent stylesheet to align items*/
#format-note{
    font-size: smaller;
    font-style: italic;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: 2px solid #dbe9ee;
    margin-bottom: 2em;
}
/*Defining defaults for input areas*/
select, input,textarea{
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  cursor: pointer;
}
#name, #email, #number{
    font-size: 12pt;
    height: 0.5em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;  
}
fieldset#personal label{
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
}
/*checkboxes and radio button inputs*/
.inline{
    width: unset;
    margin: 3px 0.7em 3px 0;
    vertical-align: text-top;
    line-height: 0;
}

/*Dropdown styling*/
#semester{
    height: 2em;
    font-size: 16px;
    padding: 2px;
    margin-right: 5px;
    width: 10em;
    border-radius: 3px;
}


.course-hover{
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px;
    padding:0;
    font-weight: bolder;
}
/*For feedback and comments area to be centered and flexed*/

label[for="comments"]{
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
}

.centerit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
div.centerit textarea{
    width: 100%;
} 
div.centerit label{
    width: 100%;
    padding-top:0;
} 


#comments{
    border-radius: 10px;
    padding: 10px 1em;
    margin: auto;
}
textarea{
    cursor: text;
}
button{
    width: 25%;
    min-width: 150px;
    padding:10px;
    
    background-color: #66E5A4;
    color: rgba(53, 3, 134, 0.677);
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5em;
    border: 1px solid #dbe9ee;
    box-shadow: 0 0 3px #dbe9ee;
    cursor: pointer;
}
button:hover{
    background-color: #dbe9ee;
}


