/*
Juliet Crocco
Tribute Project 
Date
Web Design/development level 1
Mesa Community College
*/
*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #565656;
}
body{
    margin: auto;   
}
/*a start on what we will do for the navigation for the final*/
nav{ 
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
nav ul{
    margin:0;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-end;
}

nav ul li{
    list-style-type: none;
    margin-right: 15px;
    flex-flow: row;
}

/*the padding that I have for the header here is messing up my navigation -- normally I like having the nav in the header but it is not working here*/
header{
    padding: 14px 14px 30px 14px;   
}
h1{
    font-size: 150%;
}
/*Using generic elements like div allow you to target just the text or a specific part of the layout without messing with the actual semantic layout. Sometimes it is very useful to use the elements like this so that you can not only divide your content obviously -- notice that I gave my div an id of header-read so I know this is the header reading area, but it also gives you more control over the other elements insidea and the semantic HTML element that the reading area is nested inside. I could have also given the max-width to the h1 element and the paragraph selector in the header element just as effectively, and if I were unable to alter the HTML, that is exactly what I would have done*/
#header-read{
    max-width: 850px;
    margin: auto;
}
#tribute-info{
    line-height: normal;
    color: #565656;
    margin-bottom: 0;
}
figcaption{
    text-align: center;
}
figure{
    margin: 0;
}
#image{
width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: bottom;
}
main, 
footer{
    padding: 1.5em;
    margin: auto;
    width: 100%;
}
/*giving the main content a very faint box shadow to differentiate from the footer*/
main{
    box-shadow: 0 5px 5px #f3f3f3;
}

/*Reading area*/
p, 
ul{
    font-size: 115%;
    line-height: 2;
}
section{
    margin: auto;
    width: 100%;
    max-width: 600px;
}
a{
    color: rgba(29, 75, 213, 0.84);
    text-decoration: none;
}
a:hover{
    color: teal;
    border-bottom: 2px solid teal;
}
#footer-read{
    line-height: 1.5;
    margin: auto;
    width: 100%;
    max-width: 600px;
}
footer ul{
    margin-top: 0px;
}
footer p{
    margin-bottom: 6px;
}
