*{
/* CSS HEX */
--mint: #5ecb9cff;
--verdigris: #56aeb1ff;
--celestial-blue: #4d90c5ff;
--ucla-blue: #4376b0ff;
--lapis-lazuli: #385c9bff;
--marian-blue: #2d4286ff;
--royal-blue-traditional: #222771ff;
--tekhelet: #3f2a6eff;
--finn: #5b2d6bff;
--finn-2: #673e78ff;

/* CSS HSL */
--mint: hsla(154, 51%, 58%, 1);
--verdigris: rgb(87, 175, 178);
--celestial-blue: hsla(207, 51%, 54%, 1);
--ucla-blue: rgb(67, 119, 177);
--lapis-lazuli: hsla(218, 47%, 41%, 1);
--marian-blue: rgb(45, 65, 134);
--royal-blue-traditional: hsla(236, 54%, 29%, 1);
--tekhelet: hsla(259, 45%, 30%, 1);
--finn: rgb(92, 45, 108);
--finn-2: hsla(282, 32%, 36%, 1);
}
/* SCSS HEX 
$mint: #5ecb9cff;
$verdigris: #56aeb1ff;
$celestial-blue: #4d90c5ff;
$ucla-blue: #4376b0ff;
$lapis-lazuli: #385c9bff;
$marian-blue: #2d4286ff;
$royal-blue-traditional: #222771ff;
$tekhelet: #3f2a6eff;
$finn: #5b2d6bff;
$finn-2: #673e78ff;

/* SCSS HSL
$mint: hsla(154, 51%, 58%, 1);
$verdigris: hsla(182, 37%, 52%, 1);
$celestial-blue: hsla(207, 51%, 54%, 1);
$ucla-blue: hsla(212, 45%, 48%, 1);
$lapis-lazuli: hsla(218, 47%, 41%, 1);
$marian-blue: hsla(226, 50%, 35%, 1);
$royal-blue-traditional: hsla(236, 54%, 29%, 1);
$tekhelet: hsla(259, 45%, 30%, 1);
$finn: hsla(285, 41%, 30%, 1);
$finn-2: hsla(282, 32%, 36%, 1);

SCSS RGB
$mint: rgba(94, 203, 156, 1);
$verdigris: rgba(86, 174, 177, 1);
$celestial-blue: rgba(77, 144, 197, 1);
$ucla-blue: rgba(67, 118, 176, 1);
$lapis-lazuli: rgba(56, 92, 155, 1);
$marian-blue: rgba(45, 66, 134, 1);
$royal-blue-traditional: rgba(34, 39, 113, 1);
$tekhelet: rgba(63, 42, 110, 1);
$finn: rgba(91, 45, 107, 1);
$finn-2: rgba(103, 62, 120, 1);

SCSS Gradient 
$gradient-top: linear-gradient(0deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-right: linear-gradient(90deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-bottom: linear-gradient(180deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-left: linear-gradient(270deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-top-right: linear-gradient(45deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-bottom-right: linear-gradient(135deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-top-left: linear-gradient(225deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-bottom-left: linear-gradient(315deg, #5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
$gradient-radial: radial-gradient(#5ecb9cff, #56aeb1ff, #4d90c5ff, #4376b0ff, #385c9bff, #2d4286ff, #222771ff, #3f2a6eff, #5b2d6bff, #673e78ff);
*/
